.none {
    display: none;
}

.title {
    text-align: center;
}

hr {
    position: relative;
    bottom: 25px;
}

.flex {
    display: flex;
    justify-items: center;
    flex-direction: row-reverse;
    flex-flow: row-reverse nowrap;
}

.flex label {
    width: 33%;
}

ul li{
    padding: 0px 0px 5px 15px;
}

i {
    display: block;
}

.data {
    width: 27ch;
}

#grid {
    display: grid;
    grid-template-columns: 640px auto;
    gap: 10px;
}

#grid1 {
    padding-top: 50px;
}

#grid3 {
    grid-row-start: 1;
    grid-row-end: 3;
}

ol > li {
    margin: 5px 0 5px 0px;
}

#fixed {
    position: fixed;
    right: 0in;
    bottom: 0in;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
}

fieldset > textarea {
    width: 96.5vmax;
    height: 3rem;
    min-width: 640px;
    max-width: 96.5vmax;
    max-height: 100pt;
    margin: auto;
}